@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #70d6ff;
   
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 35px;
    background-color: #1b263b;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 25px;
    font-weight: 600;
    color: #0057fa;
    text-decoration: none;
    transition: 0.3s ease;
}
.logo  span{
    color: white;
}

.logo:hover {
   
    transform: scale(1.1);
}

.navbar {
    display: flex;
    transition: 0.3s ease;
}

.navbar a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 0 25px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.navbar a:hover {
    color: #8ecae6;
}



/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 58px;
        left: 0;
        width: 100%;
        background-color: #1b263b;
        z-index: 50;
    }

    .navbar.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .navbar a {
        margin: 10px 0;
        text-align: center;
    }
}
.gif-section {
    display: flex;
    justify-content: space-around; /* Distribute images evenly */
    align-items: center; /* Align images vertically in the center */
    margin: 100px 0;
    gap: 20px; /* Space between images */
    margin-bottom: 20px;
}

.gif-section img {
    width: 20%; /* Adjust the size of each image */
    max-width: 500px; /* Set maximum width */
    height: auto;
    border-radius: 8px; /* Optional: Add rounded corners */
}

#about1 {
    font-size: 30px auto;
    font-weight: 700;
    text-align: center;
    margin: 70px 20px;
}

#about1 span {
    color: #0057fa;
 
}
